<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
      <file value=".\\pelda.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1MB"/>
    </appender>
  </log4net>
</configuration>